<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>changedishadminFrame</title>
    <script src="jquery.min.js"></script>
</head>
<body>
<form id="form" name="form" action="" method="post" th:action="@{/changedish}">
    <div id="loginBox">
        <input type="text" name="dishid" id="dishid" th:value="${dish.getDishid()}" style="display: none" required="required">

        菜品名称：<div th:text="${dish.getDishname()}" style="font-weight: bolder"></div>
        <input type="text" name="dishname" id="dishname" th:value="${dish.getDishname()}" size="20" required="required" style="display: none">
        库&nbsp&nbsp&nbsp&nbsp&nbsp存&nbsp：&nbsp<input type="text" name="dishstock" id="dishstock" th:value="${dish.getDishstock()}" size="25" required="required">
        <br>
        价&nbsp&nbsp&nbsp&nbsp&nbsp格&nbsp：&nbsp<input type="text" name="dishprice" id="dishprice" th:value="${dish.getDishprice()}" size="25" required="required">
        <br>
        <select id="dishtype" name="dishtype" style="float:left">
            <option th:each="dishtype,dt:${dishtypelist}" th:selected="${dishtype.getDishtypeid()==dish.getDishtype()}" th:value="${dishtype.getDishtypeid()}" th:text="${dishtype.getDishtypename()}"></option>
        </select>
        <br>
        <select id="dishstatus" name="dishstatus" style="float:left">
            <option selected="selected" th:if="${dish.getDishstatus()==0}" value="上架">上架</option>
            <option selected="selected" th:if="${dish.getDishstatus()==1}" value="未上架">未上架</option>
            <option value="上架" th:if="${dish.getDishstatus()==1}">上架</option>
            <option value="未上架" th:if="${dish.getDishstatus()==0}">未上架</option>
        </select>
        <br>
        <input type = "submit" id="submit" value="提交">
    </div>
</form>
</body>
</html>